<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854502155459-gt5hhfsb32i0odtj03c9a05au03klabf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854502155459-gt5hhfsb32i0odtj03c9a05au03klabf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854502155459-1ptotkl549o61kgtcmonu230911flck6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwwd8Mg4SfHFsFfH9q8ews-UhZWphYywI</string>
	<key>GCM_SENDER_ID</key>
	<string>854502155459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hy.deliberyfast</string>
	<key>PROJECT_ID</key>
	<string>delibery-fast</string>
	<key>STORAGE_BUCKET</key>
	<string>delibery-fast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854502155459:ios:80ed3cd5684405acba6e76</string>
</dict>
</plist>